{% extends 'tasks/base.html' %}
{% load mptt_tags %}

{% block content %}
<h3 align="center"><b>IT`S MY ЗАДАЧИ</b></h3>
<div>
  <div id="add_category" style="display: flex; flex-direction: column; align-items: center; display: none">
    <div>
      <div id="form"><b>Создать категорию</b></div>
      <br>
      <hr>
      <div style="display: flex; justify-content: space-between">
        <div style="width: 70%; display: flex; align-items: center; justify-content: center;">
          <input type="text" name="category" style="width: 100%">
        </div>
        <div style="width: 30%">
          <button class="btn btn-outline-success btn-lg" name="submit" style="width: 100%" onclick="addCategory()">
            Добавить задачу
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="message" style="display: none" align="center"></div>
  <form id="add_task" action="{% url 'index' %}" method='post' style="display: none">
    {% csrf_token %}
      <div class="row" align="left">
        <div class="col-md-12">
          <table class="table">
            <thead class="thead-dark">
            <tr class="cols">
              <th class="col-sm-2 ">Задача</th>
              <th class="col-sm-2">Родитель</th>
              <th class="col-sm-2">Категория</th>
              <th class="col-sm-2">Дата оповещения</th>
              <th class="col-sm-2">Заметка</th>
              <th class="col-sm-2"><p>Создать задачу:</p></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              {% for f in form %}
              <td class="col-sm-2">{{ f }}</td>
              {% endfor %}
              <td>
                <button class="btn btn-outline-success btn-lg" name="submit">Добавить задачу</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
  </form>
  <br>
  <!--<div class="xdsoft_time " data-hour="{{ hours }}" data-minute="{{ minutes }}"></div>-->
  <div class="row">
    <div class="col-md-5" id="tasks_block">
      <ul id="pointer_li">
        {% recursetree tasks %}
        <li>
          <!--                    <a href="/task/{{ node.pk }}"></a>-->
          <!--                    {{ node.pk }}. {{ node.task }}.-->
          <a href="{{ node.pk }}">{{ node.task }}
            <!--                    <a href="#">{{ node.task }}-->
            <!--                    {% if node.finish_date_time == None %}-->
            <!--                    {% else %}-->
            <!--                        дата оповещения {{ node.finish_date_time }}-->
            <!--                    {% endif %}-->

            {% if not node.is_leaf_node %}
            <ul class="children">
              {{ children }}
            </ul>
            {% endif %}</a>
        </li>
        {% endrecursetree %}
      </ul>
    </div>
    <div class="col-md-7 task_show" id="detail_task">
      <div class="container-fluid">
        <div class="row" align="left">
          <div class="col-md-12">
            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th class="col-sm-2">Задача</th>
                <th class="col-sm-1">Родитель</th>
                <th class="col-sm-1">Дата создания</th>
                <th class="col-sm-1">Категория</th>
                <th class="col-sm-1">Дата оповещения</th>
                <th class="col-sm-1">Редактировать</th>
              </tr>
              </thead>
              <tbody>
              <tr class="table_task_show">
                <td class="col-xs-1 div_line">{{ task }}</td>
                {% if task.parent == None %}
                <td class="col-sm-1 div_line">нет</td>
                {% else %}
                <td class="col-sm-1 div_line">{{ task.parent }}</td>
                {% endif %}
                <td class="col-sm-1 div_line">{{ task.create_date_time }}</td>
                <td class="col-sm-1 div_line">{{ task.category }}</td>
                {% if task.finish_date_time == None %}
                <td class="col-sm-1 div_line">нет</td>
                {% else %}
                <td class="col-sm-1 div_line">{{ task.finish_date_time }}</td>
                {% endif %}
                <td><a href="{% url 'edit_task' task.pk %}">Редактировать</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="/frontend/static/js/index.js"></script>
{% endblock scripts %}
