{% extends 'tasks/base.html' %}

{% block content %}
<h3 align="center"><b>IT`S MY ЗАДАЧИ</b></h3>
<div>
  {% include 'tasks/include_add_category.html' %}

  {% include 'tasks/include_add_task.html' %}
  <br>
  {% include 'tasks/include_filter_categories.html' %}

  {% include 'tasks/include_all_tasks.html' %}
</div>
{% endblock content %}
{% block scripts %}
<script src="/frontend/static/js/index.js"></script>
<script>
    var time_hour = [];

    var h_m = {
        h: 10,
        m: 0
    };

    var hm = $('#id_finish_date_time').datepicker({
        dateFormat: "dd.mm.yy " + h_m.h + ':' + h_m.m
    });

    hm.click(function () {
        $('.ui-datepicker-calendar').css('float', 'left');
        $('#ui-datepicker-div').append(
            $('<div class="container_time" style="float: left;"><div style="float: left">{% for h in hours %}' +
                '<div class="items" align="center">{{ h }}:</div>{% endfor %}</div>' +
                '<div style="float: left; padding-left: 2px;">{% for m in minutes %}' +
                '<div class="items" align="center">{{ m }}</div>{% endfor %}</div>' +
                '</div>')
        );
        $('#ui-datepicker-div').append(`<button>ok</button>`);
        $('.items').click(function () {
            $(this).css('background', '#eb621a');
            time_hour.push($(this).text());
            h_m = [['h', time_hour[0]], ['m', time_hour[1]]];
            console.log(hm);
        });
    });
</script>
{% endblock scripts %}
